
    <div class="book-item">
        <picture>
            <img src='assets/book.png' width="100" height="100">
        </picture>
        <p>Author: {{authorFirtstName}} {{authorLastName}}</p>
        <p>Name: {{bookName}}</p>
        <button (click)='openInfo()' (mouseenter)='return()' (mouseenter)="isHover = true" (mouseleave)="isHover = false">
            <img src='{{infoLink()}}' alt="Icon" class="icon">
            about
        </button>
    </div>
<div>
    <app-book-info [bookId]="bookId" [isVisible]="showInfo" ></app-book-info>
</div>