<div class="users-list">
    <p (click)="UsersList()">Users:</p>
    <div class="scroll">
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
        <app-users-list-item [isVisible]="isVisible"></app-users-list-item>
    </div>
</div>
