@font-face{
    font-family: JetBrains Mono;
    src: url(assets/JetBrainsMono-Bold.ttf) format(truetype);
}
.app-root-page{
    background-color: whitesmoke;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
