.group-page{
    margin-top: 10%;
    margin-left: 20%;
    columns:2;
    height: 600px;
    width: 950px;
    overflow-y: scroll;
    display: flex;
    background-color: white;
    border-radius: 5%;
}

.group-page-colomn1{
    grid-column: 1;
    width: 450px;
}

.group-page-colomn2{
    grid-column: 2;
    width: 450px;
    margin-right: 30px;
}