.books {
    font-family: JetBrains Mono;
    margin-left: 180px;
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    align-self: center;
    background-color: whitesmoke;
  }
  .books button{
    font-family: JetBrains Mono;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10%;
    box-shadow: none;
    font-size: 15px;
    width: 100px;
    height: 40px;
    cursor:pointer;
    margin-left: 75px;
    margin-right: 75px;
    z-index: 10; 
    margin-bottom: 10px;
    align-self: center;
  }
  .books button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .books input{
    font-family: JetBrains Mono;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10%;
    box-shadow: none;
    font-size: 15px;
    width: 100px;
    height: 40px;
    cursor:pointer;
    margin-left: 75px;
    margin-right: 75px;
    z-index: 10; 
    margin-bottom: 10px;
    text-align: center;
  }
  .books select{
    font-size: 15px;
    font-family: JetBrains mono;
  }
  .books option{
    font-size: 15px;
    font-family: JetBrains mono;
    height: 30px;
    width: 70px;
  }

  .books-buttons-container {
    font-family: JetBrains Mono;
    margin-left: 450px;
    margin-top: 750px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    align-self: center;
    background-color: whitesmoke;
  }

  .books-buttons-container button{
    vertical-align:bottom;
    font-family: JetBrains Mono;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: none;
    font-size: 15px;
    width: 100px;
    height: 40px;
    cursor:pointer;
    margin-left: 75px;
    margin-right: 75px;
    z-index: 10; 
    margin-bottom: 10px;
    align-self: center;
  }
  .books-buttons-container button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
  }