<div class="books-list">
    <p (click)="BooksList()">Books:</p>
    <div class="scroll">
        <app-books-list-item [isVisible]="isVisible" (click)="redirectToReading()"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
        <app-books-list-item [isVisible]="isVisible"></app-books-list-item>
    </div>
</div>