.page-header{
    font-family: JetBrains Mono;
    margin-top: 0;
    height: 11%;
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    background-color: rgb(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    flex-wrap: wrap;
    z-index: 20;
}

.head h1{
    display: inline;
    margin-left: 45%;
    margin-top: 20px;
    color: rgb(255,255,255, 1);
    text-align: center;
    font-size:300%;
    opacity: 100%;
    z-index: 21;
}

.head a{
    display: inline;
    margin-left: 15%;
    font-size: 12px;
    color: rgb(255,255,255,0.6);
    cursor: pointer;
    z-index: 21;
}

.head a :hover{
    color: rgb(255,255,255, 1);
}